<!-- NAV PARTIAL PAGE -->

<nav>
    <div class='site-title'>
        <a href='/'><h1>RiddlesOnTheWeb | a riddle website</h1></a>
        <p>Riddles... who doesn't love them?</p>
    </div>
    <ul>
        <li><a href='/'>All Riddles</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/riddles/create'>Create</a></li>
    </ul>
</nav>