<!-- ABOUT PAGE -->

<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class='about content'>
        <h2>about us</h2>
        <p>A riddle site, feel free to add, view and delete riddles.</p>
        <br>
        <h2> Have Fun! </h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>